{% extends "base.html" %}
{% block content %}
<div class="col-md-7">

    <form action="{% url 'bookmark_add' %}" method="get">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" name="url_title" id="title" class="form-control mt-4 mb-2" placeholder="url_title"
                   required>


            <textarea type="text" name="url" class="form-control" placeholder="url" required></textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="완료" style="float: right">
        </div>
</div>
</form>

{% endblock %}