{% extends "base.html" %}
{% block content %}
<div style="float: right; font-size: 50px; color: white; background-color: black;">
         <a href="{% url 'bookmark_create' %}" >북마크 생성</a>

</div>

<div class="container">


    <div class="table table-hover">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>url</th>
                </tr>
            </thead>
            {% for Bookmark in object_list %}
            <tbody>
            <tr>
                <td>{{forloop.counter}}</td>
                <td width='300px'><a href="{% url 'bookmark_detail' pk=Bookmark.pk %}" style="color: black;">{{Bookmark.url_title}}</a></td>
                <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="{{ Bookmark.url }}" style="color: black;">{{Bookmark.url}}</a></td>
                    {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>

















{% endblock %}
