{% extends "base.html" %}
{% block content %}

<div class="col-md-10">

    <br>
    <div style="float: right; font-size: 200%;" class="btn btn-dark">
        <a href="{% url 'bookmark_create' %}" style="color: white">북마크 생성</a>
    </div>


    <div class="table table-hover">
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>url</th>
            </tr>
            </thead>
            <tbody>
            {% for Bookmark in page_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td width='50%'><a href="{% url 'bookmark_detail' pk=Bookmark.pk %}" style="color: black;">{{Bookmark.url_title}}</a>
                </td>
                <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="{{ Bookmark.url }}"
                                                                                               style="color: black;">{{Bookmark.url}}</a>
                </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <br>


    <div class="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>

    </div>
</div>

<div class="col-xs-12">
</div>


{% endblock %}
