{% extends "base.html" %}
{% block content %}
<div style="float: right; font-size: 50px; color: white; background-color: black;">
         <a href="{% url 'bookmark_create' %}" >북마크 생성</a>

</div>

<div class="list">

{% for Bookmark in object_list %}

    <div class="title">
{{ forloop.counter }}
        <a href="{% url 'bookmark_detail' pk=Bookmark.id %}" style="color: black;">{{Bookmark.url_title}}</a><br>
    </div>
        <a href="{{ Bookmark.url }}" style="color: black;">{{Bookmark.url}}</a>

 <h1>   <a href="{% url 'bookmark_update' pk=Bookmark.id %}" style="color: black;">Update</a>
        <a href="{% url 'bookmark_delete' pk=Bookmark.id %}" style="color: black;">Delete</a> </h1>
    <br>

    {% endfor %}

</div>




{% endblock %}
