{% extends "base.html" %}
{% block content %}

<div class="center-block" style='width:1000px';>
<h1>로그인</h1>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    학번:
    <br>
    <input name="student_ID" type="text">
    <br>
    Password:
    <br>
    <input name="password" type="password">
    <br>
    <br>
    <input type="submit" value="로그인">
</form>
<h1>계정이 없으신가요?</h1>
    <button><a href="{% url 'signup' %}" style="color: black;">회원가입</a></button>
</div>


{% endblock %}