{% extends "base.html" %}
{% block content %}

<div class="col-md-10">
    <h1>로그인</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="student_id">학번</label>
            <input type="text" name="student_id" id="student_id" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input class="form-control" type="password" id="password" name="password">
        </div>

        <input class="btn btn-dark" type="submit" value="로그인">
    </form>
    <br>

    <h3>계정이 없으신가요?</h3>

    <a href="{% url 'signup' %}" class="btn btn-dark">회원가입</a>
</div>


{% endblock %}