{% extends "base.html" %}

{% block content %}

<div class="col-md-7">
    <br>
    <p style="font-weight: bold">{{object.title}}</p>
    <p style="font-size: small">작성자: {{ object.author }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ object.time|date:"Y년 m월 d일 H:i" }}</p>
    <hr>
    <br>
    {{object.contents}}

    {% if user.email == object.author %}
    <br>
    <br>

    <a class="btn btn-danger" href="{% url 'delete' pk=object.pk %}" style="float: right">삭제</a>
    <a class="btn btn-primary" href="{% url 'update' pk=object.pk %}" style="float: right">수정</a>
    {% else %}
    {% endif %}

</div>

{% endblock %}