{% extends "base.html" %}

{% block content %}

<div class="container">


    <div class="table table-hover">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            {% for NPC in object_list %}
            <tbody>
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'detail' pk=NPC.pk %}" style="color: black">{{NPC.title}}</a></td>
                    {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>





{% endblock %}
