{% extends "base.html" %}

{% block content %}

<div class="col-md-10">

    <br>

    <div style="float: right; font-size: 200%;" class="btn btn-dark">
        <a href="{% url 'NCID_add' %}" style="color: white">글쓰기</a>
    </div>


    <div class="table table-hover">
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>시간</th>
            </tr>
            </thead>
            <tbody>
            {% for University in page_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td width="50%">
                    <a href="{{ University.get_absolute_url }}" style="color: black">{{ University.title }}</a>
                </td>
                <td>{{ University.time|date:"Y년 m월 d일 H:i" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    <div class="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>&nbsp;
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>&nbsp;
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>&nbsp;
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>&nbsp;
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>&nbsp;
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>&nbsp;
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>

    </div>
    <div class="col-md-6">
        <form class="form-inline my-2 my-lg-0" action="{% url 'search_university' %}" method="post" style="float: right">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q"
                   value="{{q}}">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</div>
<div class="col-xs-12">
</div>


{% endblock %}
